<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/episodes">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ character?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="character" class="movie-card">
		<ion-card-header>
        <ion-icon name="cash-outline"></ion-icon>
       Occupation:  {{ character?.occupation}}</ion-card-header>
		<ion-card-content>
        <ion-icon name="person-outline"></ion-icon>
		Nickname: {{ character?.nickname }}
		</ion-card-content>
        <ion-item class="movie-info" lines="none">
			<ion-icon name="calendar" slot="start"></ion-icon>
			BirthDay: {{ character?.birthday }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
			Status: {{ character?.status }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="game-controller-outline"slot="start"></ion-icon>

			Portrayed: {{ character?.portrayed }}
		</ion-item>
	</ion-card>
    <div style >
    <img src="{{ character?.img }}" margin="center" style="border-radius: 5000mm"  >
    </div>
</ion-content>
